// Typography
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary-color: #ffffec;
$secondary-color: #f1e4c3;
$tertiary-color: #c6a969;
$quaternary-color: #597e52;
